/* Cart Screen Styling */
.cart-screen {
    margin-top: 40px;
  }
  
  .cart-items {
    margin-bottom: 30px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
  
  .cart-item h6 {
    margin: 0;
  }
  
  .cart-item p {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .cart-item button {
    background-color: #e63946;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-summary {
    text-align: right;
  }
  
  .cart-summary h5 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .cart-summary button {
    background-color: #e63946;
    /* padding: 15px 40px; */
    border-radius: 25px;
    color: white;
    font-size: 1.2rem;
  }
  